
body{
    height: 100%;
    width: 100%;
    background-image: url("./assets/galaxy.jpg")
}

.botones{
    display:flex;
    justify-content: center;
    height:40px;
}

#startButton{
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin-right: 1cm;
    outline: none;
    color: white;
    background-color: #00BFFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #666;
}
#startButton:hover {background-color: #8ce2ff}
#startButton:active {
    background-color: #00BFFF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#pauseButton{
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #00BFFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#pauseButton:hover {background-color: #8ce2ff}
#pauseButton:active {
    background-color: #00BFFF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.titulon{
    display:flex;
    animation-name: "flash";
    justify-content: center;
    height:100px;
    margin: 30px;
}

canvas{
    width:70%;
    margin: 0 15%;
}